<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>메인페이지</title>
</head>
<body>
    <h1> 신규 예약</h1>
    <form action="/admin/newReservation" method="post">
        <input type="text" name="name" id="name" placeholder="예약자명..">
        <input type="text" name="contact" id="contact" placeholder="연락처..">
        <input type="text" name="date" id="date" placeholder="예약날짜..">
        <input type="text" name="time" id="time"placeholder="예약시간..">
        <input type="text" name="duration" id="duration"placeholder="기간(분)..">
        <input type="text" name="memo" id="memo"placeholder="메모..">
        <input type="submit" value="예약 등록">
    </form>




    <h1> 예약 현황</h1>
    <table border="1">
        <tr>
            <th>예약자ID</th>
            <th>예약자명</th>
            <th>연락처</th>
            <th>예약날짜</th>
            <th>예약시간</th>
            <th>기간(분)</th>
            <th>메모</th>
        </tr>
        <tr th:each=" Reservation: ${reservationList}">
            <td th:text="${Reservation.reservationid}"></td>
            <td th:text="${Reservation.name}"></td>
            <td th:text="${Reservation.contact}"></td>
            <td th:text="${Reservation.date}"></td>
            <td th:text="${Reservation.time}"></td>
            <td th:text="${Reservation.duration}"></td>
            <td th:text="${Reservation.memo}"></td>\
<!--            <td>-->
<!--                <form action="/admin/updateReservation" method="post">-->
<!--                    <input type="hidden" name="scheduleid" th:value="${Reservation.scheduleid}">-->
<!--                    <input type="submit" value="수정">-->
<!--                </form>-->
<!--            </td>-->
            <td>
                <form action="/admin/deleteReservation" method="post">
                    <input type="hidden" name="reservationid" th:value="${Reservation.getReservationid()}">
                    <input type="submit" value="삭제">
                </form>
            </td>
        </tr>
    </table>

<div class="container">
    <div class="box">
      <h1 style="font-size: 35px;color: white;">간단 사이트</h1>
    </div>

    <div class="box">
      <div class="fr" style="text-align: left;width: 100%; padding-bottom: 5px;">
        <button onclick="location.href='/admin/goChat'" style="height:50px;text-align:center; font-size: 30px; width: 100%;">채팅</button>
      </div>
    </div>




</div>
</body>
</html>
