<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>현재 예약 현황</title>
</head>
<body>


<!--채팅 기능-->


<!--    <h1> 예약 현황</h1>-->
<!--    <table border="1">-->
<!--        <tr>-->
<!--            <th>예약자 이메일</th>-->
<!--            <th>예약날짜</th>-->
<!--            <th>예약시간</th>-->
<!--            <th>예정종료시간</th>-->
<!--        </tr>-->
<!--        <tr th:each=" : ${}">-->
<!--            <td th:text="${}"></td>-->
<!--            <td th:text="${}"></td>-->
<!--            <td th:text="${}"></td>-->
<!--            <td th:text="${}"></td>-->
<!--        </tr>-->
<!--    </table>-->
</body>
</html>